/* About.module.css */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.aboutContent {
  margin-top: 20px;
}

.sectionHeader {
  color: #007bff; /* Bootstrap's primary color */
}

/* Style for team members */
.teamMembers {
  display: flex;
  flex-wrap: wrap;
}

.teamMembers > div {
  margin: 10px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .container {
    padding: 20px;
  }
}
