.grid {
  display: grid;
  grid-template-columns: repeat(
    2,
    1fr
  ); /* Adjust the number of columns as needed */
  gap: 20px; /* Adjust the gap between items as needed */
}

.card {
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%; /* Make the image fill the container */
  height: auto; /* Maintain aspect ratio */
  border-bottom: 1px solid #ddd; /* Add a border at the bottom of the image */
}

.column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  box-sizing: border-box;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  box-sizing: border-box;
}

@media (min-width: 701px) and (max-width: 800px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
