.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.userList {
  list-style: none;
  padding: 0;
}

.userItem {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 15px;
}

.userImage {
  width: 103px;
  height: auto;
  margin-right: 15px;
}

.boatImage {
  max-width: 200px;
  height: auto;
  margin-top: 10px;
}

@media screen and (max-width: 390px) {
  .userItem {
    padding: 7px !important;
  }
}